/* Main Container Styling */
.project-container {
  margin-top: 3rem;
  /* margin-left: 4%;
  margin-right: 4%; */
}

.project-title {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.project-projects {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.25rem; /* 15px */
  width: 100%;
}

/* Responsive Design */

/* Medium Screens (Max width 1024px) */
@media screen and (max-width: 1024px) {
  .project-container {

  }

  .project-title {
    font-size: 1.75rem;
  }

  .project-projects {
    gap: 0.625rem; /* 10px */
  }
}

/* Mobile Screens (Max width 830px) */
@media screen and (max-width: 830px) {

  .project-title {
    font-size: 1.5rem;
  }

  .project-projects {
    gap: 0.5rem; /* 8px */
  }
}

/* Small Mobile Screens (Max width 600px) */
@media screen and (max-width: 600px) {
  .project-container {
    padding: 0.9375rem; 
  }

  .project-title {
    font-size:1.25rem;
  }

  .project-projects {
    gap: 0.3125rem; /* 5px */
  }
}
/* Small Mobile Screens (Max width 480) */
@media screen and (max-width: 480px) {
  .project-container {
    padding: 0.9375rem; 
  }

  .project-title {
    font-size:1.125rem;
  }

  .project-projects {
    gap: 0.3125rem; /* 5px */
  }
}