.projectcard-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg, #030c2a 0%, #021f52 100%);
    box-shadow: 0 16px 14px 0 #020721;
    padding: 18px 24px;
    max-width: 345px;
  }
  
  .image {
    margin-bottom: 26px;
  }
  
  .projectcard-title {
    font-size: 25px;
    font-weight: 700;
  }
  
  .projectcard-description {
    margin-top: 6px;
    font-size: 25px;
    font-weight: 400;
  }
  
  .projectcard-skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
  }
  
  .projectcard-skill {
    font-size: 25px;
    font-weight: 400;
    border-radius: 100px;
    background: rgb(18, 18, 55);
    padding: 2px 22px;
  }
  
  .projectcard-links {
    width: 100%;
    margin-top: 26px;
    display: flex;
    justify-content: space-around;
  }
  
  .projectcard-link {
    text-decoration: none;
    color: rgb(227, 228, 238);
    font-size: 30px;
    font-weight: 600;
    border-radius: 100px;
    background: rgb(18, 18, 55);
    padding: 1px 22px;
  }