/* Main Container Styles */
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.125rem;
  margin-left: 4%;
  margin-right: 4%;
  z-index: 1;
  background-color: rgba(2, 7, 34, 0.6);
  border-radius: 0.625rem; /* 10px */
  padding-left: 2.5rem;
}

/* Content Section */
.content {
  flex: 1; /* Ensure content takes up available space */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.125rem;
  background: linear-gradient(
    90deg,
    rgb(210, 210, 219) 70%,
    rgba(17, 125, 76, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  font-size: 1rem;
  margin-bottom: 0.125rem;
}

.exp-link {
  color: #fff;
}

.exp-link:hover {
  color: blue;
}

.contactBtn {
  text-decoration: none;
  background-color: rgb(15, 21, 56);
  color: #fff;
  border-radius: 1.25rem;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  margin-top: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.contactBtn:hover {
  background-color: rgb(10, 15, 40);
  box-shadow: 0 0 0.5rem 0.125rem rgba(33, 37, 78, 0.5);
}

/* Image Section */
.image-container {
  flex: 1; /* Ensure image container takes up available space */
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: 100%;
  max-width: 21.875rem; /* 350px */
  height: auto; /* Maintain aspect ratio */
  border-radius: 20%;
  animation: floating 3s ease-in-out infinite;
  margin-bottom: 4%;
}

/* Floating Animation */
@keyframes floating {
  0% {
    transform: translate(0, 0); /* Start position */
  }
  25% {
    transform: translate(0, 0.9375rem); /* Move down */
  }
  50% {
    transform: translate(0, 0.625rem); /* Slightly less down */
  }
  75% {
    transform: translate(0, 0.9375rem); /* Move down again */
  }
  100% {
    transform: translate(0, 0); /* Return to start */
  }
}

/* Blurred Background Elements */
/* .topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 21.875rem;
  top: -8rem;
  left: -10vw;
  border-radius: 47.75rem;
  background: rgba(9, 22, 46, 0.7);
  filter: blur(6.25rem);
  z-index: 0;
} */

/* .bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 21.875rem;  top: 15.375rem;
  right: -25vw;
  border-radius: 47.75rem;
  background: rgba(1, 16, 43, 0.7);
  filter: blur(6.25rem); 
  z-index: 0;
} */

/* Responsive Adjustments */
/* Medium Screens (1024px and below) */
@media screen and (max-width: 1024px) {
  .container {
  }

  .title {
    font-size: 1.75rem;
  }

  .description {
    font-size: 0.9375rem;
  }

  .contactBtn {
    font-size: 1rem;
    padding: 0.875rem 1.125rem;
  }

  .profile-image {
    max-width: 300px;
  }
}

/* Small Screens (830px and below) */
@media screen and (max-width: 830px) {
  .container {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align items */
    margin-top: 10%;
  }

  .content {
    align-items: center;
    text-align: center; /* Center text */
  }

  .title {
    font-size: 1.5rem;
    white-space: normal; /* Allow text to wrap */
  }

  .description {
    font-size: 0.875rem;
  }

  .contactBtn {
    font-size: 0.8rem;
  }

  .profile-image {
    max-width: 250px;
    margin-bottom: 1.25rem;
  }
}

/* Extra Small Screens (600px and below) */
@media screen and (max-width: 600px) {
  .container {
    margin-left: 2%;
    margin-right: 2%;
  }

  .title {
    font-size: 1.25rem;
  }

  .description {
    font-size: 0.8125rem;
  }

  .contactBtn {
    font-size: 0.6rem;
    padding: 0.75rem 1rem;
  }

  .profile-image {
    max-width: 200px;
  }
}
/* Extra Small Screens (600px and below) */
@media screen and (max-width: 480px) {
  .container {
    margin-left: 2%;
    margin-right: 2%;
  }

  .title {
    font-size: 1.125rem;
  }

  .description {
    font-size: 0.75rem;
  }

  .contactBtn {
    font-size: 0.4rem;
    padding: 0.75rem 1rem;
  }

  .profile-image {
    max-width: 150px;
  }
}