/* Contact Section Styling */
.contact-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 15px;
  color: #fff;
  padding: 40px;
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
  gap: 10px;
  font-size: 20px;
}

.contact .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background: linear-gradient(180deg, #030c2a 0%, #00050d 100%);
  box-shadow: 0 16px 14px 0 #020721;
  opacity: 0.8;
}

.contact-title {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin: 40px -40px;
}

.contact .row .content {
  flex: 1 1 20rem;
  padding: 1rem;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 20px;
  margin: 20px;
  margin-bottom: 2rem;
}

.contact .row form .box {
  padding: 8px;
  margin: 1rem 0;
  background: linear-gradient(0deg, #030f37 0%, #021332 100%);
  box-shadow: 0 16px 14px 0 #020721;
  font-size: 1.8rem;
  width: 100%;
  color: #fff;
  border: none;
}

.contact .row form .message {
  height: 15rem;
  resize: none;
  color: #fff;
  border: none;
}

/* Responsive Design */
/* Large Screens (Max width 1245px) */
@media screen and (max-width: 1245px) {
  .contact-container {
    margin-left: 8%;
    margin-right: 8%;
  }

  .contact-title {
    font-size: 42px;
  }

  .contact .row form .box {
    font-size: 1.7rem;
  }

  .info {
    font-size: 20px; /* Slightly smaller text */
  }
}

/* Tablets and Medium Screens (Max width 1024px) */
@media screen and (max-width: 1024px) {
  .contact-container {
    margin-left: 8%;
    margin-right: 8%;
  }

  .contact-title {
    font-size: 38px;
  }

  .contact .row form .box {
    font-size: 24px;
  }

  .info {
    font-size: 24px; /* Reduce text size further */
  }
}

/* Mobile Screens (Max width 830px) */
@media screen and (max-width: 830px) {
  .contact-container {
    margin-left: 6%;
    margin-right: 6%;
  }

  .contact .row form {
    flex: 1 1 100%;
    margin: 10px 0;
  }

  .contact .row .content {
    flex: 1 1 100%;
  }

  .contact-title {
    font-size: 34px;
  }

  .contact .row form .box {
    font-size: 1.5rem;
  }

  .contact .row form .message {
    height: 14rem;
  }

  .info {
    font-size: 22px; /* Further reduce for smaller screens */
    padding: 5px; /* Add some padding */
  }
}

/* Small Mobile Screens (Max width 600px) */
@media screen and (max-width: 600px) {
  .contact-container {
    margin-left: 4%;
    margin-right: 4%;
  }

  .contact-title {
    font-size: 1.6rem;
  }

  .contact .row form .box {
    font-size: 1.4rem;
  }

  .contact .row form .message {
    height: 13rem;
  }

  .info {
    font-size: 20px; /* Further reduce text size */
    text-align: center; /* Center align text */
  }
}
