/* Contact Section Styling */
.contact-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 0.9375rem; /* 15px */
  color: #fff;
  padding: 2.5rem;
  margin-top: 1rem; 
  margin-left: 4%;
  margin-right: 4%;
  gap: 0.625rem; /* 10px */
}

.contact .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background: linear-gradient(180deg, #030c2a 0%, #00050d 100%);
  box-shadow: 0 1rem 0.875rem 0 #020721; /* 0 16px 14px 0 */
  opacity: 0.8;
}

.contact-title {
  font-size: 1.5rem; 
  text-transform: uppercase;
  margin: 2.5rem -2.5rem;
}

.contact .row .content {
  flex: 1 1 20rem;
  padding: 1rem;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 1.25rem; /* 20px */
  margin: 1.25rem; /* 20px */
  margin-bottom: 2rem;
}

.contact .row form .box {
  padding: 0.5rem; /* 8px */
  margin: 1rem 0;
  background: linear-gradient(0deg, #030f37 0%, #021332 100%);
  box-shadow: 0 1rem 0.875rem 0 #020721; /* 0 16px 14px 0 */
  font-size: 1rem; /* Default */
  width: 100%;
  color: #fff;
  border: none;
}

.contact .row form .message {
  height: 15rem; /* Default */
  resize: none;
  color: #fff;
  border: none;
}

/* Responsive Design */

/* Tablets and Medium Screens (Max width 1024px) */
@media screen and (max-width: 1024px) {

  .contact-title {
    font-size: 1.75rem; 
  }

  .contact .row form .box {
    font-size: 0.9375rem; 
  }

  .info {
    font-size: 1rem; 
  }
}

/* Mobile Screens (Max width 830px) */
@media screen and (max-width: 830px) {
  .contact .row form {
    flex: 1 1 100%;
    margin: 0.625rem 0; /* 10px 0 */
  }

  .contact .row .content {
    flex: 1 1 100%;
  }

  .contact-title {
    font-size: 1.5rem;
  }

  .contact .row form .box {
    font-size: 0.875rem;
  }

  .contact .row form .message {
    height: 14rem;
  }

  .info {
    font-size: 1rem;
    padding: 0.3125rem;
  }
}

/* Small Mobile Screens (Max width 600px) */
@media screen and (max-width: 600px) {

  .contact-title {
    font-size: 1.4rem; 
  }

  .contact .row form .box {
    font-size: 1.25rem;
  }

  .contact .row form .message {
    height: 13rem; 
  }

  .info {
    font-size: 0.9375rem;
    text-align: center;
  }
}

/* Extra Small Screens (Max width 480px) */
@media screen and (max-width: 480px) {
  .contact-title {
    font-size: 1.125rem;
  }

  .contact .row form .box,
  .contact .row form .message {
    font-size: 0.75rem;
  }

  .info {
    font-size: 0.875rem;
  }
}
