/* Main Container Styling */
.exp-container {
  margin-top: 1rem;
  margin-left: 4%;
  margin-right: 4%;
}

.exp-title {
  font-size: 1.5rem;
  text-transform: uppercase;
}

/* Content Styling */
.exp-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 0.875rem; /* 14px */
}

.history {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem; /* 20px */
}

.historyItem {
  flex: 1 1 45%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.0625rem; /* 17px */
  background: #02112e;
  background: linear-gradient(90deg, #010128 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 0.625rem; /* 10px */
  padding: 1.5rem; /* 24px */
  min-width: 18.75rem; /* 300px */
}

.historyItem img {
  width: 3.125rem; /* 50px */
}

/* History Item Details */
.historyItemDetails h3 {
  font-size: 1.25rem; /* 20px */
}

.historyItemDetails p {
  font-size: 1rem; /* 18px */
}

.historyItemDetails ul {
  margin-top: 0.375rem; /* 6px */
  list-style-position: inside;
  font-size: 1rem; /* 18px */
  list-style-type: disc;
  margin-left: -1rem;
}

/* Responsive Breakpoints */
/* Tablets and Medium Screens (Max width 1024px) */
@media screen and (max-width: 1024px) {
  .historyItem {
    /* flex: 1 1 100%; */
    padding: 1.25rem; /* 20px */
  }

  .historyItemDetails h3 {
    font-size: 1rem;
  }

  .historyItemDetails p {
    font-size: 0.9375rem;
  }

  .historyItemDetails ul {
    font-size: 0.9375rem;
  }

  .historyItem img {
    width: 2.5rem; /* 40px */
  }

  .exp-title {
    font-size: 1.75rem;
  }
}

/* Mobile Screens (Max width 830px) */
@media screen and (max-width: 830px) {
  .exp-content {
    flex-direction: column;
    align-items: center;
    /* gap: 2.125rem; */
  }

  .historyItem {
    flex: 1 1 100%;
    padding: 1.125rem;
  }

  .historyItemDetails h3 {
    font-size: 1rem;
  }

  .historyItemDetails p {
    font-size: 0.875rem;
  }

  .historyItemDetails ul {
    font-size: 0.875rem;
  }

  .historyItem img {
    width: 2.1875rem;
  }

  .exp-title {
    font-size: 1.5rem;
  }
}

/* Small Mobile Screens (Max width 600px) */
@media screen and (max-width: 600px) {
  .exp-container {
    padding: 0.9375rem;
  }

  .exp-title {
    font-size: 1.25rem;
  }

  .historyItem {
    padding: 0.9375rem;
  }

  .historyItemDetails h3 {
    font-size: 0.9375rem;
  }

  .historyItemDetails ul {
    font-size: 0.8125rem;
  }

  .historyItemDetails p {
    font-size: 0.8125rem;
  }

  .historyItem img {
    width: 1.875rem;
  }
}

/* Very Small Mobile Screens (Max width 480px) */
@media screen and (max-width: 480px) {
  .exp-title {
    font-size: 1.125rem; /* 22px */
  }

  .historyItem {
    padding: 0.75rem; /* 12px */
  }

  .historyItemDetails h3 {
    font-size: 0.875rem; /* 20px */
  }

  .historyItemDetails p {
    font-size: 0.75rem;
  }

  .historyItem img {
    width: 1.25rem; /* 20px */
  }
}
