.App {
    background-color: rgb(48, 62, 64);
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
  }
  #tsparticles {
    z-index: 1; /* Set a higher z-index for the particles container */
}